nav.settings__tabs
    ul.tabs__list
        each entry, index in [['Behavior', 'tab-behavior'], ['Appearance', 'tab-appearance'], ['Custom Fields', 'tab-custom-fields'], ['Questions', 'tab-questions'], ['URL Control', 'tab-url-control']]
            li.tabs__entry(class={'tabs__entry--current': !index})
                a.tabs__lnk(href='#' data-tab=entry[1])=entry[0]
