section.settings__tabs-container
    article.settings__tabs-entry#tab-behavior
        label.form-control
            .form__caption.form__caption--center Designation
            .form__field
                .form-select
                    select(name='designation')
                        option(value='Match Checkout Setting') Match Checkout Setting
                        option(value='Other option') Other option
                        option(value='And one more') And one more
        .form-control
            .form__caption.form__caption--center Goal
            .form__field.form__field--goal
                i.form-currency-val $
                input.form-input(type='text' value='10.00')
                .form-select.form-select--currency
                    select(name='currency')
                        option(value='$') $
                        option(value='€') €
        div.form-control
            .form__caption Default Amount
            .form__field.form__field--column
                label.radio
                    input.radio__input(type='radio' name='default_amount' value='Match Checkout Setting')
                    span.radio__title Match Checkout Setting
                label.radio
                    input.radio__input(type='radio' name='default_amount' value='Customize' checked)
                    span.radio__title Customize
                label.checkbox.checkbox--allow-change
                    input.checkbox__input(type='checkbox' name='allow_change' value='1' checked)
                    span.checkbox__title Allow donor to change default currency
        .form-control
            .form__caption Border size
            .form__field
                input(type='range' min='0' max='5' value='2' name='border_size')
                span.form-range-val
                    i
                    | px
        .form-control
            .form__caption Border radius
            .form__field
                input(type='range' min='0' max='30' value='15' name='border_radius')
                span.form-range-val
                    i
                    | px
    article.settings__tabs-entry#tab-appearance
        p Appearance content goes here
    article.settings__tabs-entry#tab-custom-fields
        p Custom fields content goes here
    article.settings__tabs-entry#tab-questions
        p Questions content goes here
    article.settings__tabs-entry#tab-url-control
        p URL control content goes here
