extends ../../base

block defaultVars
block content
    section.form
        .block
            header.form__head
                h1.form__head-title Donations
                .form__head-filter
                    .form__head-filter__search
                        input(type='search' placeholder='Search' name='search' autocomplete='off')
                    .form__head-filter__status
                        a.status__lnk(href='#') All statuses
                        ul.status__list
                            each entry in ['All statuses', 'Success', 'Pending', 'Error']
                                li.status__list-item
                                    label.radio
                                        input.radio__input(type='radio' name='status' value=entry)
                                        span.radio__title=entry
            .colgroup
                section.col.col--body.col--left(style='height: 2000px')
                aside.col.col--aside.col--right
                    ul.menu
                        each entry in [['amount', 'Change Amount'], ['payment', 'Change Payment Method'], ['date', 'Change Date'], ['cancel', 'Cancel Recurring']]
                            li.menu__entry
                                a.menu__lnk(href='#')
                                    img(src='/img/icon_' + entry[0] + '.svg' alt='')
                                    | #{entry[1]}


