extends ../../base

block defaultVars
block content
    section.form
        .block
            include ../../blocks/header
            .colgroup
                section.col.col--body.col--left
                    section.settings
                        include ../../blocks/settings/nav
                        include ../../blocks/settings/tabs
                        include ../../blocks/settings/buttons
                aside.col.col--aside.col--right
                    include ../../blocks/menu


