:root {
  --color-black: #000;
  --color-white: #fff;
}

$ffbase: 'Work Sans', Arial, sans-serif;

$colorbase: #2F2F30; // default text color;

$colorblue: #6665DD; // links
$colorgrey: #6C6D6F; //grey txt
$colorgreen: #00A651; // green elements
