.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #ffffff;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #DBDCDE;
	box-sizing: border-box;

	@media(max-width: 840px) {
		display: none;
		margin-top: -1px;

		&.menu--visible {
			display: block;
			border-radius: 0 0 8px 8px;
		}
	}

	&.fixed {
		position: fixed;
		top: 20px;
	}

	&-toggle {
		position: relative;
		display: none;
		align-items: center;
		justify-content: space-between;
		padding: 12px 32px;
		line-height: 28px;
		color: $colorbase;
		text-decoration: none;
		background: #fcfcfc;
		font-weight: 600;
		border: 1px solid #DBDCDE;
		border-radius: 8px;

		&:after {
			content: '';
			width: 8px;
			height: 8px;
			border-bottom: 1px solid #6C6D6F;
			border-right: 1px solid #6C6D6F;
			transform: rotate(45deg);
			transition: all 200ms linear;
		}

		&--opened {
			border-radius: 8px 8px 0 0;

			&:after {
				transform: rotate(225deg);
			}
		}

		@media(max-width: 840px) {
			display: flex;
		}

		@media(max-width: 560px) {
			padding-left: 18px;
			padding-right: 18px;
		}
	}

	.menu__entry {
		border-top: 1px solid #DBDCDE;

		&:first-child {
			border-top: none;
		}
	}

	.menu__lnk {
		display: flex;
		align-items: center;
		padding: 12px 12px 12px 18px;
		line-height: 28px;
		text-decoration: none;
		color: $colorbase;
		transition: all 200ms linear;

		@media(min-width: 841px) {
			&:hover {
				background: #F3F3F3;
			}
		}

		img {
			display: block;
			width: 16px;
			margin-right: 10px;
			flex-shrink: 0;
		}
	}
}