.btn {
	display: inline-flex;
	padding: 12px 22px;
	border: 1px solid;
	background: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	transition: all 200ms linear;

	&_white {
		color: $colorbase;
		border: 1px solid #A9ABAE;

		&:hover {
			background: #a9abae;
			color: #ffffff;
		}
	}

	&_green {
		background: $colorgreen;
		border-color: $colorgreen;
		color: #ffffff;

		&:hover {
			background: #048744;
			border-color: #048744;
		}
	}

	&:active {
		transform: translateY(2px);
	}
}