.form-input {
	display: block;
	width: 100%;
	padding: 7px 12px;
	font-family: $ffbase;
	font-size: 16px;
	line-height: 24px;
	background: #FFFFFF;
	border: 1px solid #A9ABAE;
	box-sizing: border-box;
	border-radius: 6px;
}