.radio {
	position: relative;
	cursor: pointer;

	&__input {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		opacity: 0;

		&:focus {
			& + .radio__title {
				&:before {
					box-shadow: 0 0 10px rgba($colorbase, .8);
				}
			}
		}

		&:checked {
			& + .radio__title {
				&:before {
					background: $colorgreen;
				}
			}
		}

		&:hover:not(:checked) {
			& + .radio__title {
				opacity: .7;
			}
		}
	}

	&__title {
		position: relative;
		display: inline-block;
		padding-left: 36px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 12px;
			height: 12px;
			background: #fff;
			border: 4px solid #fff;
			box-shadow: 0 0 0 2px $colorgreen;
			border-radius: 50%;
		}
	}
}