.form-select {
	position: relative;
	width: 296px;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #A9ABAE;
	box-sizing: border-box;
	border-radius: 6px;

	@media(max-width: 560px) {
		width: 100%;
	}

	&:after {
		content: '';
		position: absolute;
		right: 10px;
		top: -5px;
		bottom: 0;
		margin: auto;
		width: 8px;
		height: 8px;
		border-bottom: 1px solid #6C6D6F;
		border-right: 1px solid #6C6D6F;
		transform: rotate(45deg);
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0 30px 0 12px;
		border: none;
		background: #ffffff;
		border-radius: 6px;
	}
}