@import "settings/fonts";
@import "settings/vendor";
@import "settings/vars";
@import "settings/base";
@import "elements/radio";

@import "blocks/menu";

.form {
	padding: 50px 0;

	&__head {
		margin: 0 0 24px;
		background: #FFFFFF;
		border: 1px solid #DBDCDE;
		box-sizing: border-box;
		box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
		border-radius: 8px;

		&-title {
			margin: 0;
			padding: 28px 32px;
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
		}

		&-filter {
			display: flex;
			align-items: center;
			padding: 16px 32px;
			background: #FAFAFA;
			border-top: 1px solid #DBDCDE;
			border-radius: 0 0 8px 8px;

			&__search {
				position: relative;
				flex-shrink: 0;
				width: 336px;
				margin-right: 40px;

				&:before {
					content: '';
					position: absolute;
					left: 16px;
					top: 0;
					bottom: 0;
					width: 18px;
					height: 18px;
					margin: auto;
					background: url(../assets/images/svg/search_gray_18x18.svg) no-repeat;
					background-size: contain;
				}

				input {
					display: block;
					width: 100%;
					padding: 8px 20px 8px 42px;
					font-size: 16px;
					line-height: 16px;
					color: $colorgrey;
					background: #ffffff;
					border: 1px solid #DBDCDE;
					box-sizing: border-box;
					border-radius: 8px;
					transition: all 200ms linear;

					&:focus {
						outline: none;
						border-color: #ffffff;
						box-shadow: 0 0 10px rgba($colorgreen, .4);
					}
				}
			}

			&__status {
				position: relative;
				white-space: nowrap;

				.status__lnk {
					display: flex;
					align-items: center;
					font-size: 16px;
					line-height: 24px;
					color: $colorbase;
					text-decoration: none;

					&:after {
						content: '';
						width: 8px;
						height: 4px;
						margin: 0 0 0 8px;
						background: url(../assets/images/svg/arr_black_8x4.svg) no-repeat;
						background-size: contain;
					}
				}

				.status__list {
					position: absolute;
					left: 0;
					top: 30px;
					list-style: none;
					margin: 0;
					padding: 15px 25px;
					background: #FFFFFF;
					border: 1px solid #DBDCDE;
					box-sizing: border-box;
					box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
					border-radius: 8px;
					opacity: 0;
					transform: translateY(30px);
					transition: all 200ms linear;
					pointer-events: none;
					visibility: hidden;

					&-item {
						padding: 15px 0 0;

						&:first-child {
							padding: 0;
						}

					}
				}

				&.vis {
					.status__list {
						opacity: 1;
						transform: translateY(0);
						pointer-events: all;
						visibility: visible;
					}
				}
			}
		}
	}
}