@import "settings/fonts";
@import "settings/vendor";
@import "settings/vars";
@import "settings/base";

@import "elements/radio";
@import "elements/checkbox";
@import "elements/range";
@import "elements/form_control";
@import "elements/select";
@import "elements/input";
@import "elements/button";

@import "blocks/menu";
@import "blocks/donation";
@import "blocks/settings";
@import "blocks/ie";

.form {
	padding: 50px 0;

	@media(max-width: 560px) {
		padding: 30px 0;
	}

	&__head {
		margin: 0 0 24px;
		background: #FFFFFF;
		border: 1px solid #DBDCDE;
		box-sizing: border-box;
		box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
		border-radius: 8px;

		&-title {
			margin: 0;
			padding: 28px 32px;
			font-weight: 400;
			line-height: 32px;

			@media(max-width: 560px) {
				padding: 18px;
			}
		}

		&-filter {
			display: flex;
			align-items: center;
			padding: 16px 32px;
			background: #FAFAFA;
			border-top: 1px solid #DBDCDE;
			border-radius: 0 0 8px 8px;

			@media(max-width: 560px) {
				padding-left: 18px;
				padding-right: 18px;
				flex-direction: column;
				align-items: flex-start;
			}

			&__search {
				position: relative;
				flex-shrink: 0;
				width: 336px;
				margin-right: 30px;

				@media(max-width: 560px) {
					width: 100%;
					margin: 0 0 10px;
				}

				&:before {
					content: '';
					position: absolute;
					left: 16px;
					top: 0;
					bottom: 0;
					width: 18px;
					height: 18px;
					margin: auto;
					background: url(../assets/images/svg/search_gray_18x18.svg) no-repeat;
					background-size: contain;
				}

				input {
					display: block;
					width: 100%;
					padding: 8px 20px 8px 42px;
					line-height: 16px;
					color: $colorgrey;
					background: #ffffff;
					border: 1px solid #DBDCDE;
					box-sizing: border-box;
					border-radius: 8px;
					transition: all 200ms linear;

					&:focus {
						outline: none;
						border-color: #ffffff;
						box-shadow: 0 0 10px rgba($colorgreen, .4);
					}
				}
			}

			&__status {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					right: 10px;
					top: -5px;
					bottom: 0;
					margin: auto;
					width: 8px;
					height: 8px;
					border-bottom: 1px solid #6C6D6F;
					border-right: 1px solid #6C6D6F;
					transform: rotate(45deg);
				}

				select {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					background: transparent;
					border: none;
					padding: 10px 25px 10px 10px;
				}
			}
		}
	}
}



